/************************************************************ Import
/*** Fonts ***/
@font-face {
	font-family: "geosans";
	src: url("GeosansLight.ttf");
}

@font-face {
	font-family: "specify";
	src: url("Specify.ttf");
}



/************************************************************ Style
/*** Reset ***/
html, body, header, main, section, article, aside,
footer, nav, ul, li, h1, h2, p, text, figure, img {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background: url("img/bg.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/************************************************** Header
/*** Header ***/
header#container {
	background-color: rgba(255,255,255,0.4);
	box-shadow: 0 0 20px 2px red;
	height: 50px;
	text-align: center;
	width: 100%;
	position: relative;
	z-index: 10;
}

h1#mainHeader {
	color: white;
	text-shadow: 0 0 3px black;
	font-size: 30px;
	padding: 10px 0;
	font-family: "geosans";
}

/************************************************** Nav
/*** Nav ***/
nav {
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	height: 50px;
	width: 100%;
	position: relative;
	z-index: 5;
}

ul {
	list-style-type: none;
	height: 50px;
}

li.nav {
	font-family: "geosans";
	display: inline-block;
	padding: 16px 20px;
}

li.nav:hover {
	background-color: rgba(60,0,0,0.6)
}

li.nav#active {
	background-color: rgba(180,0,0,0.4)
}

a {
	color: white;
	font-family: "geosans";
	text-shadow: 0 0 3px black;
	text-decoration: none;
}

/************************************************** Nav
/*** Wrapper ***/
main {
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 0 20px 2px rgba(255,255,255,0.6);
	border: 1px solid grey;
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
	height: 80%;
}

ul#headers, article#wrapper {
	padding: 20px 10px;
}

h2, p, a.leesMeer{
	color: white;
}

h2, a.leesMeer {
	font-family: "geosans";
	display: inline;
}

h2 {
	font-size: 26px;
}

p {
	font-family: "specify";
	font-size: 13px;
	padding: 5px 0;
}

span{
	font-size: 13px;
	font-family: "arial";
}

a.leesMeer {
	padding-left: 20px;
	font-size: 18px;
	display: inline-block;
}

h1 {
	color: white;
}

#content {
	padding: 20px 10px;
}

img#one {
	width: 50%;
	height: 50%;
	float: right;
	margin: 10px;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: white;
}

section {
	padding: 10px 0 30px 0;
}

section#about {
	padding: 20px 10px;
	color: white;
	font-family: "specify";
	font-size: 13px;
}

aside#leftad {
	position: absolute;
	bottom: 300px;
	left: 0;
}

aside#leftad img {
	width: 200px;
	height: 200px;
}

aside#rightad {
	position: absolute;
	bottom: 300px;
	right: 0;
}

aside#rightad img {
	width: 200px;
	height: 200px;
}

footer {
	background-color: black;
	border-top: 1px solid red;
	text-align: center;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 5px 0 0 0;
	color: red;
}